<div class="row marketing">
  <div class="col-lg-10 col-lg-offset-2">
    <h4>api calls</h4><small>italics means optional</small>
    <ul>
      <li>
        <p>
          <b>GET</b> -> <span><a href="/api/places">/api/places</a></span><i><a href="/api/places?limit=3">?limit=x</a></i> -> <span> { "data": [ places ], "count": x || 10 }
        </p>
      </li>
    </ul>
  </div>
