<div class="row marketing">
  <div class="col-lg-10 col-lg-offset-2">
    <h4>api calls</h4><small>italics means optional</small>
    <ul>
      <li>
        <p>
          <b>GET</b> -> <span>/api/places</span><i>?limit=x</i> -> <span> { "data": [ places ], "count": x || 10 }
        </p>
      </li>
    </ul>
  </div>
